*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, sans-serif;
}

.deliver {
    font-size: 12px;   
}

.deliver b {
    font-size: 14px;   
}


.nav-top{
    background:#131921;
    color:white;
    display:flex;
    align-items:center;
    justify-content:space-between;
    padding:10px 20px;
}

.logo img{
    height:32px;
}

.search-bar{
    display:flex;
    width:45%;
}

.search-bar select{
    padding:8px;
}

.search-bar input{
    flex:1;
    padding:8px;
    border:none;
}

.search-bar button{
    background:#febd69;
    border:none;
    padding:8px;
}

.search-bar button img{
    height:20px;
}

.nav-right{
    display:flex;
    gap:20px;
    font-size:13px;
    align-items:center;
}

.cart img{
    height:20px;
    margin-right:5px;
}


.nav-bottom{
    background:#232f3e;
    padding:10px;
    display:flex;
    gap:15px;
    align-items:center;
}

.nav-bottom a{
    color:white;
    text-decoration:none;
    font-size:14px;
    display:flex;
    align-items:center;
}

.nav-bottom a img{
    height:18px;
    margin-right:6px;
}

.prime-ad{
    margin-left:auto;
    color:#4da6ff;
    font-size:14px;
}


.hero{
    background:#e3e6e6;
    display:flex;
    align-items:center;
   justify-content:space-between;
    padding:40px 20px;
}

.hero-text h1{
    font-size:36px;
}

.hero-text h3{
    margin:10px 0;
}

.hero-img img{
    width:100%;
    max-width:380px;
    border-radius:8px;
}


.cards{
    display:grid;
    grid-template-columns:repeat(4,1fr);
    gap:20px;
    padding:20px;
    background:#e3e6e6;
}

.card{
    background:white;
    padding:15px;
    text-align:center;
}

.card img{
    height:80px;
    margin-bottom:10px;
}

.card h3{
    font-size:16px;
}


footer{
    background:#131921;
    color:white;
    text-align:center;
    padding:15px;
}


@media(max-width:1024px){
    .cards{
        grid-template-columns:repeat(2,1fr);
    }

    .search-bar{
        width:35%;
    }
}

@media(max-width:768px){
    .nav-right{
        display:none;
    }

    .search-bar{
        width:100%;
    }

    .hero{
        flex-direction:column;
        text-align:center;
    }

    .cards{
        grid-template-columns:1fr;
    }
}
